[user]
	name = tkomatsu
	email = tkomatsu@student.42tokyo.jp
[alias]
	alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1 => \\2/' | sort
	ci = commit
	a = add
	st = status
	plf = pull --ff-only
	unstage = resotre --staged
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore
[help]
	autocorrect = 10
[url "github:"]
	InsteadOf = https://github.com/
	InsteadOf = git@github.com:
[fetch]
	prune = true
[pull]
	rebase = false
[init]
	defaultBranch = main
