[user]
	name = tkomatsu
	email = tkomatsu@student.42tokyo.jp
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	ff = only
